<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stew.kotlinbox">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".KBApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:exported="true"
            android:name=".ADActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

<!--        android:configChanges="uiMode"-->
        <activity android:name=".MainActivity"
            android:launchMode="singleTask" />

    </application>

</manifest>