<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stew.kb_exp">
    <application>
        <activity android:name="com.stew.kb_exp.ui.ExpActivity"/>
        <activity android:name="com.stew.kb_exp.ui.exp.NativeHookActivity"/>
        <activity android:name="com.stew.kb_exp.ui.exp.ProcessInfoActivity"/>
        <activity android:name="com.stew.kb_exp.ui.exp.ProxyActivity"/>
        <activity android:name="com.stew.kb_exp.ui.exp.DpActivity"/>
        <activity android:name="com.stew.kb_exp.ui.exp.DsActivity"/>
    </application>
</manifest>